<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.poile.blog.mapper.UserMapper">

    <resultMap id="userVoResultMap" type="cn.poile.blog.vo.UserVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="BIGINT"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="brief" property="brief" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <collection property="roleList" ofType="cn.poile.blog.entity.Role">
            <id column="role_id" property="id" jdbcType="INTEGER"/>
            <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
            <result column="role_name" property="roleName" jdbcType="VARCHAR" />
            <result column="role_desc" property="desc" jdbcType="VARCHAR"/>
        </collection>
        <collection property="authorityList" ofType="cn.poile.blog.entity.Authority">
            <id column="authority_id" property="id" jdbcType="INTEGER"/>
            <result column="authority_code" property="authorityCode" jdbcType="VARCHAR" />
            <result column="authority_desc" property="authorityDesc" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="selectUserVoByUsername" resultMap="userVoResultMap">
        select
        u.id,
        u.username,
        u.password,
        u.mobile,
        u.nickname,
        u.gender,
        u.birthday,
        u.email,
        u.brief,
        u.avatar,
        u.status,
        u.create_time,
        r.id role_id,
        r.role_code,
        r.role_name,
        r.desc role_desc,
        a.id authority_id,
        a.authority_code,
        a.authority_desc
        from user u
        left join user_role ur on ur.user_id = u.id
        left join role r on r.id = ur.role_id
        left join role_authority ra on ra.role_id = r.id
        left join authority a on a.id = ra.authority_id
        where u.username = #{ username, jdbcType=VARCHAR }
    </select>

</mapper>
